.about-container {
  display: flex;
  gap: var(--mantine-spacing-md);
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 0 var(--mantine-spacing-md);
}

@media only screen and (max-width: 1200px) {
  .about-container {
    flex-direction: column;
  }
}
