.personal-interests {
  border: 1px solid var(--mantine-color-gray-1);
  background-color: var(--mantine-color-gray-light);
  height: 100%;
  position: relative;
  overflow: hidden;
  color: var(--mantine-color-text);

  @mixin dark {
    border: 1px solid var(--mantine-color-dark-5);
    background-color: var(--mantine-color-gray-light);
  }
}
